

<app-menu-title></app-menu-title>

<div class="conteiner__articles">
 <div class="articles__main">

  <app-big-card
    Id="1"
    photoCover="https://hermes.dio.me/tracks/5a199bba-a494-49ce-b357-f746eb7b7425.png"
    cardTitle="Desenvolvimento Web com Angular"
    cardDescription="Aprofunde-se no desenvolvimento web usando o poderoso framework Angular. Descubra como criar aplicativos da web interativos e responsivos com este guia completo."
    >
  </app-big-card>

</div>
 <div class="articles__others">
  <app-small-card
    Id="2"
    photoCover="https://hermes.dio.me/articles/cover/9706f214-6e23-4198-baa8-fcdd03589577.jpg"
    cardTitle="HTML, CSS e JavaScript para Iniciantes"
  >
  </app-small-card>

  <app-small-card
    Id="3"
    photoCover="https://hermes.dio.me/articles/cover/0beb8ade-f21a-45ee-b132-196dd5eb64c7.jpg"
    cardTitle="Segurança da Informação na Web"
  >
  </app-small-card>
  <app-small-card
    Id="4"
    photoCover="https://hermes.dio.me/articles/cover/255bc27d-3d67-4aeb-b53f-a033c4af3311.jpg"
    cardTitle="Redes de Computadores e Desenvolvimento de Sistemas Web"
  >
  </app-small-card>
 </div>
</div>

